.. toctree::
   :hidden:
   :maxdepth: 2

{% for child in node.children %}src_{{dots_to_underscores(child.module.name)}}
{% endfor %}

{{node.module.name}}
{{ title_underline }}

.. automodule:: {{node.module.name}}
   :members:
   :undoc-members:
   :show-inheritance:
